.caru-sel{
  h2{
    font-size: 41px;
    line-height: 51px;
    font-family: "Playfair Display";
    @media(max-width:1140px){
      font-size: 29px;
      }
    span{
      font-size: 41px;
      color: #ff0000;
      @media(max-width:1140px){
        font-size: 29px;
        }
    }
  }
  p{
    margin: 10px 0 10px;
    font-size: 17px;
    color: #6d6a6a;
    line-height: 29px;
    font-family: 'Lora' serif;
    @media(max-width:1140px){
     font-size: 12px;
      }
  }
  .cart-img{
   position: relative;
  //  @media(max-width:1023px){
  //   max-width: 1240px;
  //  }
  }
 .title{
  max-width: 400px;
  position: absolute;
  padding: 20px;
  margin: 80px 0 0 40px;
  @media(max-width:1240px){
  margin: 50px 0 0 40px;
  }
  @media(max-width:1140px){
  margin: 10px 0 0 40px;
  max-width: 345px;
  }
  @media(max-width:950px){
    margin: 10px 0 0 40px;
    max-width: 345px;
    h2{
      font-size: 20px;
    }
    }
    @media(max-width:770px){
      margin: 0;
      max-width: 270px;
      h2{
        font-size: 16px;
        line-height: 30px;
      }
      span{
        font-size: 20px;
      }
      p{
        line-height: 16px;
      }
      }
 }
}


.big_cards {
    .hed_card{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
        p{
          font-size: 12px;
          color: #1b1b1b;
          margin-right: 10px;
        }
        .one_catagory{
          padding: 15px;
          @media(min-width:770px){
           display: none;
          }
        }
        .catagory{
          width: 45%;
            display: flex;
            justify-content: space-between;
            padding: 15px;
            letter-spacing: .1em;
            @media(max-width:1200px){
             width:70%;
            }
            @media(max-width:770px){
             display: none;
            }
            
            
            .one_child{
              a{
                color: #F34F3F;
              }
            }
            a{
                font-size: 12px;
                color: #1b1b1b;
                transition: all 0.4s ease-in-out;
                &:hover{
                  color: #F34F3F;
                }
            }
        }
    }
  .cart {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    .sold {
      position: absolute;
      padding: 8px 15px;
      z-index: 3;
      color: #fff;
      top: 20px;
      left: 20px;
      background-color: #000000;
    }
    .sale{
        position: absolute;
        padding: 8px 15px;
        z-index: 3;
        color: #000000;
        top: 20px;
        left: 20px;
        background-color: #ffffff;
    }
    .image {
      &:hover {
        transform: scale(1.03);
      }
      transition: all 0.3s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      text-align: center;
      h3 {
        margin-top: 15px;
        font-size: 12px;
        color: #1b1b1b;
      }
      .to_dollar {
        display: inline-block;
        margin-top: 10px;
        font-size: 12px;
        color: #2D2B2B;
        transform: translateX(-40px);
      transition: all 0.3s ease-in-out;
      del{
        display: inline-block;
        margin-left: 10px;
        color: #afafaf;
      }
       
        
      }
      .to_cart {
        display: inline-block;
        font-size: 12px;
        color: #afafaf;
        transform: translateX(-60px);
        opacity: 0;
        visibility: hidden;
      transition: all 0.3s ease-in-out;

      }
    }
    &:hover{
       .to_dollar {
        transform: translateX(20px);
        opacity: 0;
        visibility: hidden;
        }
        .to_cart{
        transform: translateX(15px);
        opacity: 1;
        visibility:visible;
        }
    }
  }
}

//?  Iframe
.products_iframe{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 80px 0;
  width: 100%;
  .image{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover{
        transform: scale(1.05);
      }
    }
    .play{
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      padding: 25px 37px;
      top:35%;
      left: 42%;
    }
  }
  .ifr_right{
    padding: 20px;
    margin-left: 40px;
    h2{
      font-size: 38px;
      line-height: 1.447em;
      color: #1b1b1b;
      span{
        color:#F34F3F;
      }
    }
    p{
      font-size: 17px;
      line-height: 29px;
      margin-top: 27px;
      color: #6d6a6a;
    }
  }
}
     //? 
.flower{
  margin: 100px 0 100px 0;
   .flower_hed{
      max-width: 700px;
      text-align: center;
      margin: auto;

    h2{
      font-size: 38px;
      color: #2b2b2b;
    }
    p{
      font-size: 17px;
      color: #6d6a6a;
      margin-top: 14px;
      line-height: 25px;
    }
  }
  .cart{
    padding: 30px;
    margin-top: 20px;
    .image{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content{
      text-align: center;
      h3{
        font-size: 12px;
        line-height: 2em;
        letter-spacing: .1em;
        margin-top: 5px;
      }
      p{
        font-size: 12px;
        color: #afafaf;
        margin-top: 5px;
      }
    }
  }
}  
.bg_fixed{
  position: static;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  .bg_mail{
    padding: 150px;
   
    h2{
      font-size: 30px;
      color: #ffffff;
      margin-bottom: 30px;
      text-align: center;
    }
   .bg_btn{
    display: flex;
    input{
      font-size: 15px;
      padding: 19px 18px;
      color: #6d6a6a;
      border: none;
      max-width: 500px;
    }
    button{
      padding: 0 42px;
      background-color: #F34F3F;
      border: none;
      color: #fff;
    }
   }
  }
}   


//? from our blog
.post_from{
  margin-top: 150px;
  .from_hed{
    margin: auto;
    text-align: center;
    max-width: 700px;
    margin-bottom: 30px;
    h2{
      font-size: 38px;
      line-height: 1.447em;
      color: #2b2b2b;
    }
    p{
      font-size: 17px;
      font-family: 'Lora', serif;
      color: #6d6a6a;
      margin-top: 14px;
      line-height: 29px;
    }
  }
 .cart{
    position: relative;
    .img_day{
      position: absolute;
      background-color: #fff;
      padding: 8px;
      left: 10px;
      top: 10px;
      font-size: 12px;
    }
  .image{
  overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
      &:hover{
        transform: scale(1.05);
      }
    }
  }
  .content{
    text-align: center;
    padding: 10px;
    h2{
      font-size: 22px;
      color: #2b2b2b;
      margin-top:10px ;
    }
    p{
      font-size: 15px;
      color: #6d6a6a;
      margin-top: 12px;
      font-family: 'Lora', serif;
      line-height: 1.6em;
    }
  }
 }
}